@import "styles/variables";

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overscroll-behavior: contain;
}

body * + * {
  margin-top: 1.5em;
}

#root {
  margin-top: 0;
}

.App {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  .app-field {
    margin: 1rem 0;
  }

  .app-score {
    display: flex;

    * {
      flex: 1 0 0;

      margin-top: 0;
    }

    > * {
      border: 1px black solid;
      display: flex;
      flex-flow: column;
    }

    > *:nth-child(n + 2) {
      border-left: none;
    }

    label {
      border-bottom: 1px solid black;
    }
  }


  .start-game {
    align-self: stretch;
    padding: 0.5rem;
    margin: 1rem 1rem;
  }

  .app-controller {
    flex: 0 0 auto;

    margin-top: 4rem
  }
}
