@import "styles/variables";

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body * + * {
  margin-top: 1.5em;
}

#root {
  margin-top: 0;
}

.App {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  height: 100vh;

  .app-field {
    margin: 1rem 0;
  }

  .start-game {
    align-self: stretch;
    padding: 0.5rem;
    margin: 1rem 1rem;
  }

  .app-controller {
    flex: 0 0 auto;

    margin-top: 4rem
  }
}
